services:
  - type: web
    name: salon-knjige-backend
    env: node
    plan: free
    buildCommand: pnpm install && pnpm build
    startCommand: pnpm start
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: salon_knjige
          property: connectionString
      - key: NODE_ENV
        value: production
